body {
        background-image: url("gtpfbg.png");
        background-color: #cccccc;
      
}


#aboutCard {
    margin-top: 100px;
}






.navbar-brand {
  background-color: rgb(183, 137, 226);
  color: cornsilk;
  padding: 10px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin-left: 100px;
}




