* {
  font-family: 'Quicksand', sans-serif;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#aboutCard {
  margin-top: 100px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  opacity: 0.96;
}

 .navbar-brand {
  background-color: rgb(173, 138, 196);
  color: cornsilk;
  padding: 10px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin-left: 100px;
} 

.card-img-top {
  max-width: 300px;
}

.card-title {
  background-color: rgb(173, 138, 196);
  color: aliceblue;
  padding: 10px;
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}
.text-center{
  text-align: center;
}
main {
  margin-bottom: 75px;
}
